.issues-container{

padding:35px;

}



.breadcrumb{

color:#64748b;

margin-bottom:25px;

}



.toolbar{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}



.toolbar button{

background:white;

border:1px solid #ddd;

border-radius:20px;

padding:10px 15px;

margin-right:10px;

}



.new-button{

background:#6366f1!important;

color:white;

}



.issue-section{

border-radius:8px;

margin-bottom:20px;

}



.section-title{

height:45px;

background:#f8fafc;

display:flex;

align-items:center;

padding:0 15px;

font-weight:bold;

}



.section-title small{

margin-left:15px;

}



.issue-row{

display:grid;

grid-template-columns:
120px
1fr
180px
120px
50px;


height:45px;

align-items:center;

border-bottom:1px solid #e5e7eb;

text-decoration:none;

color:#111827;

padding:0 15px;

}



.issue-row:hover{

background:#f8fafc;

}



.priority{

color:#ef4444;

}



.tag{

border:1px solid #ddd;

border-radius:15px;

padding:4px 12px;

font-size:12px;

}



.avatar{

width:30px;

height:30px;

border-radius:50%;

background:#6366f1;

color:white;

display:flex;

justify-content:center;

align-items:center;

}
